@import url('https://fonts.googleapis.com/css?family=Roboto');

.intro {
    margin: auto;
    max-width: 80%;
}

.mint {
    color: #92bbaf;
}

.roboto {
    font-family: Roboto, sans-serif;
    line-height: 1em;
}

.large {
    font-size: 5em;
    letter-spacing: 0.03em;
}

.medium {
    font-size: 1.75em;
    letter-spacing: 0.03em;
}

.small {
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

.button-wrapper {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border: #292929 solid 1px;
    background-color: #74b6a0;
    overflow: hidden;
    transition: 0.6s;
    margin: auto;
    max-width: 90%;
}

.button {
    color: #000000;
    padding: 10px;
    text-decoration: none;
}

.button:hover {
    color: #74b6a0;
}

.button-wrapper:hover {
    background-color: #2f5347;
    cursor: pointer;
}

body {
    background-color: #161616;
}